<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcvMHUlg7chDE394OFtfJskudGifhzNEU</string>
	<key>GCM_SENDER_ID</key>
	<string>1058007115193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mordor.UraMarket</string>
	<key>PROJECT_ID</key>
	<string>uramarket-41b9c</string>
	<key>STORAGE_BUCKET</key>
	<string>uramarket-41b9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058007115193:ios:5663f5ba4222192e36c268</string>
</dict>
</plist>